# 데이터 정리

## 세차장 데이터 합치기

In [2]:
import pandas as pd 
from glob import glob # 파일 경로를 쉽게 접근할 수 있게 해주는 모듈

In [5]:
# /data 폴더 안에  # 지역으로 시작하는 # xls 파일 전체를 의미 
glob("C:/Users/Sung/Desktop/Opinet_Data/세차장/지역*.xls")

['C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (1).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (10).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (100).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (11).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (12).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (13).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (14).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (15).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (16).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (17).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (18).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (19).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (2).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (20).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (21).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (22).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (23).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (24).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (25).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (26).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (27).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (28).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (29).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (3).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (30).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (31).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (32).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (33).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (34).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (35).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (36).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (37).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (38).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (39).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (4).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (40).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (41).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (42).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (43).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (44).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (45).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (46).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (47).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (48).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (49).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (5).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (50).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (51).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (52).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (53).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (54).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (55).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (56).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (57).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (58).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (59).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (6).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (60).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (61).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (62).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (63).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (64).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (65).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (66).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (67).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (68).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (69).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (7).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (70).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (71).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (72).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (73).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (74).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (75).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (76).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (77).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (78).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (79).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (8).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (80).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (81).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (82).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (83).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (84).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (85).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (86).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (87).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (88).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (89).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (9).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (90).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (91).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (92).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (93).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (94).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (95).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (96).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (97).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (98).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (99).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120534.178.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120539.987.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120546.483.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120552.219.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120557.745.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120603.191.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120609.604.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120615.562.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120622.549.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120628.062.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120633.704.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120641.537.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120647.666.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120653.023.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120659.606.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120705.130.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120710.727.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120717.568.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120724.646.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120731.702.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120738.370.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120743.881.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T120752.285.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121330.498.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121335.588.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121340.724.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121345.837.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121351.063.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121356.122.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121401.404.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121406.593.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121412.378.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121417.390.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121422.710.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121428.458.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121434.190.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121439.224.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121444.837.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121449.962.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121455.604.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121501.350.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121508.526.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121513.522.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121519.219.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121524.852.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121529.988.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121535.618.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121540.713.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121546.404.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121551.608.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121559.013.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121604.229.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121609.561.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121615.533.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121620.879.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121626.135.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121633.384.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121638.560.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121644.545.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121649.668.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121655.177.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121700.502.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121705.642.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121711.374.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121716.396.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121722.272.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121727.282.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121732.546.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121738.953.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121744.387.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121750.019.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121755.158.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121800.251.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121805.539.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121812.646.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121818.412.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121823.511.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121828.672.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121834.327.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121839.446.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121844.572.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121850.509.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121857.031.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121901.915.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121907.665.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121914.228.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121920.392.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121926.048.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121931.833.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121937.037.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121944.735.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121949.867.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T121956.165.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122002.630.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122007.658.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122012.760.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122018.086.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122024.001.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122029.053.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122034.714.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122040.107.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122045.111.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122051.366.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122056.526.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122101.973.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122107.138.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122112.277.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122117.280.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122122.481.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122127.562.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122132.926.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122137.976.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122145.800.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122151.511.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122156.671.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122202.831.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122208.485.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122213.982.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122219.070.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122224.246.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122229.563.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122234.808.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122240.648.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122245.945.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122251.788.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122256.927.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122302.243.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122307.418.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122312.484.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122318.241.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122323.264.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122328.356.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122333.528.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122338.909.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122345.078.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122350.697.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122356.299.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122403.897.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122409.215.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122414.361.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122420.755.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122425.946.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122431.509.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122436.981.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122442.343.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122448.267.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122453.606.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122459.466.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122504.970.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122511.704.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122517.113.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122522.538.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122527.961.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122533.440.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122539.017.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122544.151.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122549.401.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122555.825.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122601.063.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122606.333.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122614.541.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) - 2020-10-18T122620.904.xls']

In [8]:
# station_files 변수에 각 엑셀 파일의 경로와 이름을 리스트로 저장 
station_files = glob("C:/Users/Sung/Desktop/Opinet_Data/세차장/지역*.xls")
len(station_files)

262

In [9]:
station_files[0]

'C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (1).xls'

In [10]:
# 파일 한개 가져오기 
tmp_raw = []
tmp = pd.read_excel('C:/Users/Sung/Desktop/Opinet_Data/세차장\\지역_위치별(주유소) (1).xls', header = 2) # header 는 3번째 줄에 있음 
tmp_raw.append(tmp)
tmp_raw

[       지역                     상호                         주소      상표  \
 0   서울특별시            (주)보성 세곡주유소      서울 강남구  헌릉로 731 (세곡동)   SK에너지
 1   서울특별시               오일프러스 셀프    서울 강남구 남부순환로 2651 (도곡동)   SK에너지
 2   서울특별시         현대오일뱅크 도곡셀프주유소  서울 강남구  남부순환로 2718 (도곡2동)  현대오일뱅크
 3   서울특별시       GS칼텍스(주)직영 산성주유소             서울 강남구 헌릉로 730   GS칼텍스
 4   서울특별시                  방죽주유소      서울 강남구 밤고개로 215 (율현동)   S-OIL
 5   서울특별시        현대오일뱅크(주) 유진주유소       서울 강남구 논현로 152 (도곡동)  현대오일뱅크
 6   서울특별시                자곡셀프주유소      서울 강남구 밤고개로 120 (자곡동)   SK에너지
 7   서울특별시                  역삼주유소       서울 강남구 역삼로 205 (역삼동)   GS칼텍스
 8   서울특별시                SK서광주유소       서울 강남구 역삼로 142 (역삼동)   SK에너지
 9   서울특별시          지에스칼텍스㈜ 은마주유소            서울 강남구 영동대로 235   GS칼텍스
 10  서울특별시         SK에너지(주) 매봉주유소             서울 강남구 언주로 307   SK에너지
 11  서울특별시        에쓰-오일㈜직영 개나리주유소       서울 강남구 언주로 423 (역삼동)   S-OIL
 12  서울특별시             (주)선진도곡주유소       서울 강남구 도곡로 162 (도곡동)   S-OIL
 13  서울특별시          SK에너지㈜ 진달래주유소             서울 강남구 도곡로 208   SK에너지
 14  서울특별시          지에스칼텍스㈜ 주성주유소            서울 강남구 영동대로 716   GS칼텍스
 15  서울특별시        (유)동하석유 힐탑셀프주유소             서울 강남구 논현로 640   SK에너지
 16  서울특별시        현대오일뱅크㈜직영 오천주유소      서울 강남구 봉은사로 503 (삼성동)  현대오일뱅크
 17  서울특별시         지에스칼텍스㈜ 삼성로주유소       서울 강남구 삼성로 563 (삼성동)   GS칼텍스
 18  서울특별시            대동석유 압구정주유소       서울 강남구 언주로 842 (신사동)   SK에너지
 19  서울특별시       현대오일뱅크㈜직영 삼성동주유소      서울 강남구 테헤란로 619 (삼성동)  현대오일뱅크
 20  서울특별시         (주)중앙에너비스 수서지점       서울 강남구 광평로 202 (수서동)   SK에너지
 21  서울특별시     에스제이에너지산업(주) 개포주유소            서울 강남구 양재대로 339   GS칼텍스
 22  서울특별시                 논현동주유소       서울 강남구 학동로 229 (논현동)   GS칼텍스
 23  서울특별시    현대오일뱅크(주)직영 신사현대주유소      서울 강남구 도산대로 163 (신사동)  현대오일뱅크
 24  서울특별시          ㈜새서울석유 새서울주유소            서울 강남구 압구정로 154  현대오일뱅크
 25  서울특별시      현대오일뱅크(주)직영 한양주유소      서울 강남구 압구정로 302 (신사동)  현대오일뱅크
 26  서울특별시                  명품주유소       서울 강남구 도곡로 249 (역삼동)   S-OIL
 27  서울특별시                  대청주유소       서울 강남구 개포로 654 (일원동)   SK에너지
 28  서울특별시                SK논현주유소       서울 강남구 논현로 747 (논현동)   SK에너지
 29  서울특별시                갤러리아주유소            서울 강남구 압구정로 426   SK에너지
 30  서울특별시                 학여울주유소  서울 강남구  남부순환로 3170 (일원2동)   GS칼텍스
 31  서울특별시  (주)소모에너지엔테크놀러지 쎈트럴주유소             서울 강남구 삼성로 335   GS칼텍스
 32  서울특별시               (주)만정에너지      서울 강남구 봉은사로 433 (삼성동)   GS칼텍스
 33  서울특별시                뉴서울(강남)       서울 강남구 언주로 716 (논현동)   SK에너지
 34  서울특별시                  동우주유소  서울특별시 강남구  봉은사로 311 (논현동)   SK에너지
 35  서울특별시                  삼성주유소       서울 강남구 삼성로 521 (삼성동)   SK에너지

              전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0     02-445-6870    Y     -  1363  1165     -
 1    02-3462-5100    Y  1547  1384  1179     -
 2     02-529-5101    Y  1547  1384  1179     -
 3    02-2226-4963    Y     -  1385  1195     -
 4     02-459-3434    Y     -  1389  1179     -
 5    02-3462-5215    N  1562  1398  1194  1090
 6     02-445-5841    Y     -  1399  1199     -
 7     02-557-5189    N  1625  1415  1255     -
 8     02-562-4855    Y  1549  1415  1215     -
 9    02-3452-1882    N  1565  1415  1255     -
 10    02-556-5510    Y  1565  1415  1239     -
 11    02-564-0187    N  1565  1415  1239     -
 12   02-2058-3024    N  1570  1415  1255     -
 13   02-3462-0018    N  1545  1415  1239     -
 14    02-518-3460    N  1575  1425  1245     -
 15    02-544-4075    Y  1635  1435  1265     -
 16    02-545-2822    N  1597  1441  1266  1025
 17    02-538-5138    Y  1597  1441  1266     -
 18    02-545-6161    Y  1633  1453  1273     -
 19    02-508-6572    N  1597  1461  1286     -
 20  070-8707-4582    Y  1698  1468  1238     -
 21    02-573-9031    N  1750  1498  1298  1150
 22   02-3443-9545    Y  1717  1527  1353  1200
 23    02-546-2182    N  1896  1586  1422     -
 24    02-543-1154    N  1878  1637  1437     -
 25   02-3444-0804    N  1838  1638  1428     -
 26    02-501-1256    N  1828  1698  1528     -
 27    02-445-5500    N  2009  1779  1576     -
 28    02-511-0955    N  2048  1788  1648  1350
 29    02-540-4965    N  2106  1848  1659  1250
 30   02-3411-3271    N  2117  1873  1637     -
 31    02-565-0267    N  2067  1883  1689     -
 32    02-518-5141    N  2079  1913  1689  1359
 33    02-518-5631    N  2330  2025  1865     -
 34    02-542-6726    N     -     -     -     -
 35    02-538-0809    N     -     -     -     -  ]

In [11]:
# 파일 여러개 가져오기
# read_excel 로 각 파일을 읽은 후
# tmp_raw 변수에 append
# 반복문 끝나면 pd.concat 명령으로 쉽게 하나로 합침
# 25개 엑셀 파일 하나로 합침

tmp_raw = []
for file_name in station_files:
    tmp = pd.read_excel(file_name, header = 2) # header 는 3번째 줄에 있음 
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

In [12]:
station_raw.info() # 가격 정보가 숫자형(int, float) 아니어서 나중에 처리해야 함

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7189 entries, 0 to 71
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      7189 non-null   object
 1   상호      7189 non-null   object
 2   주소      7189 non-null   object
 3   상표      7189 non-null   object
 4   전화번호    7189 non-null   object
 5   셀프여부    7189 non-null   object
 6   고급휘발유   7189 non-null   object
 7   휘발유     7189 non-null   object
 8   경유      7189 non-null   object
 9   실내등유    7189 non-null   object
dtypes: object(10)
memory usage: 617.8+ KB

In [13]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1363,1165,-
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1547,1384,1179,-
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1547,1384,1179,-
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,GS칼텍스,02-2226-4963,Y,-,1385,1195,-
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),S-OIL,02-459-3434,Y,-,1389,1179,-

In [14]:
station_raw.tail()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
67,제주특별자치도,삼남주유소,제주특별자치도 제주시 남성로 60 (용담일동),GS칼텍스,064-755-1618,N,-,1400,1180,730
68,제주특별자치도,도평주유소,제주 제주시 우평로 197 (도평동),SK에너지,064-712-3112,N,-,1400,1180,730
69,제주특별자치도,애월농협주유소,제주 제주시 애월읍 일주서로 6252,NH-OIL,064-799-0164,N,-,1400,1180,730
70,제주특별자치도,신도시주유소,제주 제주시 과원로 210 (연동),SK에너지,064-746-5185,N,-,1430,1210,730
71,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),GS칼텍스,064-713-8951,N,-,-,-,-

In [15]:
# 원하는 컬럼 가지고 오고 이름도 다시 정의 stations 라는 변수에 저장 
# 지역, 상호, 주소, 상표, 셀프여부 
stations = pd.DataFrame({"sido" : station_raw["지역"],
                         "os_nm": station_raw["상호"],
                         "new_adr": station_raw["주소"],
                         "oil_price": station_raw["휘발유"],
                         "poll_div_cd": station_raw["상표"],
                         "self_yn": station_raw["셀프여부"]})
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),1363,SK에너지,Y
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,1385,GS칼텍스,Y
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),1389,S-OIL,Y

## 주소-> 시/구로 쪼개기

In [16]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split("(")

['서울 강남구 현릉로 731', '세곡동)']

In [17]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split(" ")

['서울', '강남구', '현릉로', '731(세곡동)']

In [18]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split()[0]

'서울'

In [19]:
# 구 이름 추출 
stations['si']  = [eachAddress.split()[0] for eachAddress in stations["new_adr"]] 
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),1363,SK에너지,Y,서울
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y,서울
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y,서울
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,1385,GS칼텍스,Y,서울
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),1389,S-OIL,Y,서울

In [20]:
# 구 이름 추출 
stations['gu']  = [eachAddress.split()[1] for eachAddress in stations["new_adr"]] 
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),1363,SK에너지,Y,서울,강남구
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y,서울,강남구
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y,서울,강남구
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,1385,GS칼텍스,Y,서울,강남구
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),1389,S-OIL,Y,서울,강남구

In [21]:
# unique() 검사 
stations["si"].unique() # 잘 뽑혔는지 확인

array(['서울', '서울특별시', '경기', '경기도', '부산', '부산광역시', '대구', '대구광역시', '인천',
       '인천광역시', '광주', '광주광역시', '광주시', '대전', '대전광역시', '울산', '울산광역시',
       '세종특별자치시', '세종', '세종시', '강원', '강원도', '충북', '충청북도', '충남', '충청남도',
       '청남', '전북', '전라북도', '전남', '전라남도', '경북', '경상북도', '경남', '경상남도', '제주',
       '제주특별자치도', '제주도'], dtype=object)

In [22]:
stations.loc[stations["si"] == "광주시"]

     sido  os_nm              new_adr oil_price poll_div_cd self_yn   si  gu
21  광주광역시  화력주유소  광주시 남구 회재로 338(압촌동)      1299       GS칼텍스       N  광주시  남구

In [23]:
stations.loc[stations["si"] == "세종시"]

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
7,세종특별자치시,봉암주유소,세종시 연서면 세종로 1899,1269,SK에너지,Y,세종시,연서면
8,세종특별자치시,새롬주유소,세종시 어울로 77 (새롬동),1269,SK에너지,Y,세종시,어울로
24,세종특별자치시,㈜비타민셀프 세종셀프주유소,세종시 다정북로 221,1395,S-OIL,Y,세종시,다정북로
28,세종특별자치시,(주)한유에너지 중부주유소,세종시 조치원읍 세종로 2167,1499,SK에너지,N,세종시,조치원읍

In [24]:
stations.loc[stations["si"] == "청남"]

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
3,충청남도,희망찬주유소,청남 아산시 도고면 온천대로 476 (도고면),1279,현대오일뱅크,Y,청남,아산시

In [25]:
stations.loc[stations["si"] == "서울특별시"]

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
34,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울특별시,강남구
2,서울특별시,정다운셀프주유소,서울특별시 도봉구 도봉로 635 (쌍문동),1279,SK에너지,Y,서울특별시,도봉구
7,서울특별시,동일석유(주)강남주유소,서울특별시 동대문구 사가정로 103 (전농동),1329,SK에너지,N,서울특별시,동대문구
4,서울특별시,에쓰오일(주)직영 오토테크주유소,서울특별시 서초구 효령로 356 (서초동),1390,S-OIL,Y,서울특별시,서초구
24,서울특별시,(주)선문에너지 중앙주유소,서울특별시 서초구 바우뫼로 219 (양재1동),1878,S-OIL,N,서울특별시,서초구
15,서울특별시,동일주유소,서울특별시 성북구 보문로 85 (보문동5가),1386,GS칼텍스,N,서울특별시,성북구
6,서울특별시,(주)퍼스트오일 코알라주유소,서울특별시 강동구 올림픽로 556 (성내동),1418,S-OIL,Y,서울특별시,강동구
10,서울특별시,하이웨이주유소,서울특별시 강서구 공항대로 432(화곡동),1347,S-OIL,Y,서울특별시,강서구
7,서울특별시,관악시몬주유소,서울특별시 관악구 남부순환로 1753 (봉천동),1437,S-OIL,N,서울특별시,관악구
1,서울특별시,구광주유소,서울특별시 금천구 서부샛길 674 (가산동),1285,S-OIL,N,서울특별시,금천구
4,서울특별시,백산주유소,서울특별시 금천구 시흥대로 174 (시흥동),1294,S-OIL,Y,서울특별시,금천구

In [26]:
stations.loc[stations["si"] == "서울특별시", "si"] = "서울"
stations.loc[stations["si"] == "경기도", "si"] = "경기"
stations.loc[stations["si"] == "부산광역시", "si"] = "부산"
stations.loc[stations["si"] == "대구광역시", "si"] = "대구"

stations.loc[stations["si"] == "인천광역시", "si"] = "인천"
stations.loc[stations["si"] == "광주광역시", "si"] = "광주"
stations.loc[stations["si"] == "광주시", "si"] = "광주"

stations.loc[stations["si"] == "대전광역시", "si"] = "대전"
stations.loc[stations["si"] == "울산광역시", "si"] = "울산"
stations.loc[stations["si"] == "세종특별자치시", "si"] = "세종"
stations.loc[stations["si"] == "세종시", "si"] = "세종"

stations.loc[stations["si"] == "강원도", "si"] = "강원"
stations.loc[stations["si"] == "충청북도", "si"] = "충북"
stations.loc[stations["si"] == "충청남도", "si"] = "충남"
stations.loc[stations["si"] == "청남", "si"] = "충남"

stations.loc[stations["si"] == "전라북도", "si"] = "전북"
stations.loc[stations["si"] == "전라남도", "si"] = "전남"
stations.loc[stations["si"] == "경상북도", "si"] = "경북"
stations.loc[stations["si"] == "경상남도", "si"] = "경남"
stations.loc[stations["si"] == "제주특별자치도", "si"] = "제주"
stations.loc[stations["si"] == "제주도", "si"] = "제주"

In [27]:
# unique() 검사 
stations["si"].unique() # 잘 뽑혔는지 확인

array(['서울', '경기', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [28]:
len(stations["si"].unique())

17

In [29]:
# unique() 검사 
stations["gu"].unique() # 잘 뽑혔는지 확인

array(['강남구', '도봉구', '안산시', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구',
       '성북구', '송파구', '양천구', '강동구', '영등포구', '용산구', '은평구', '종로구', '중구',
       '중랑구', '강서구', '금정구', '기장군', '남구', '강북구', '동구', '동래구', '부산진구', '북구',
       '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '해운대구', '달서구', '달성군',
       '수성구', '관악구', '강화군', '계양구', '남동구', '미추홀구', '부평구', '연수구', '옹진군',
       '광진구', '광산구', '대덕구', '유성구', '광역시', '구로구', '울주군', '다정북로', '국책연구원3로',
       '세종로', '마음안로', '조치원읍', '연서면', '어울로', '보듬5로', '전의면', '전동면', '부강면',
       '금송로', '갈매로', '소담로', '금남면', '다솜로', '연동면', '연기면', '소정면', '가평군',
       '고양시', '금천구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '노원구', '성남시', '수원시', '시흥시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '여주군', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시',
       '파주시', '평택시', '포천시', '하남시', '화성시', '강릉시', '고성군', '동해시', '삼척시',
       '속초시', '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시',
       '태백시', '평창군', '홍천군', '횡성군', '괴산군', '단양군', '보은군', '영동군', '옥천군',
       '음성군', '음성', '제천시', '증평군', '진천군', '청주시', '충주시', '계룡시', '공주시',
       '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군',
       '천안시', '천안', '청양군', '태안군', '홍성군', '고창군', '군산시', '김제시', '남원시',
       '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시', '정읍시',
       '진안군', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시',
       '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군',
       '장흥군', '진도군', '함평군', '해남군', '화순군', '경산시', '경주시', '고령군', '구미시',
       '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군',
       '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군',
       '포항시', '거제시', '거창군', '김해시', '남해군', '밀양시', '밀양', '사천시', '산청군',
       '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군',
       '합천군', '서귀포시', '제주시'], dtype=object)

## 가격 정보 전처리

In [30]:
stations[stations["oil_price"] == "-"]

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
34,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구
35,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구
25,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구
26,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),-,GS칼텍스,N,서울,서초구
25,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),-,S-OIL,Y,서울,영등포구
...,...,...,...,...,...,...,...,...
12,경상남도,(주)천하주유소,경남 밀양 부북면 제대2길 14,-,S-OIL,N,경남,밀양
96,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시
27,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시
15,경상남도,영동주유소,경남 함안군 산인면 함마대로 1834,-,S-OIL,N,경남,함안군
71,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),-,GS칼텍스,N,제주,제주시

In [31]:
# * 2. 정보가 기입되지 않은 주유소는 대상에서 제외 
stations_notnull = stations[stations["oil_price"] != '-']
stations_notnull.head()
stations_notnull["oil_price"] = [float(value) for value in stations_notnull["oil_price"]]
stations_notnull.info() # 가격 정보가 float 으로 바뀜\
stations_notnull.reset_index(inplace = True) # 인덱스를 처음부터 다시 기록하도록 함 
del stations_notnull["index"] # index 라는 컬럼이 하나 더 생성되어, 그 부분 제거

# 구별로 가격 평균 구하기 
import numpy as np 
si_gu_data =pd.pivot_table(stations_notnull, index =["si","gu"] , values = ["oil_price"],aggfunc = np.mean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7086 entries, 0 to 70
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sido         7086 non-null   object
 1   os_nm        7086 non-null   object
 2   new_adr      7086 non-null   object
 3   oil_price    7086 non-null   float64
 4   poll_div_cd  7086 non-null   object
 5   self_yn      7086 non-null   object
 6   si           7086 non-null   object
 7   gu           7086 non-null   object
dtypes: float64(1), object(7)
memory usage: 498.2+ KB

<ipython-input-31-fcde174fa93a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations_notnull["oil_price"] = [float(value) for value in stations_notnull["oil_price"]]

In [32]:
si_gu_data.reset_index(inplace = True) # 인덱스를 처음부터 다시 기록하도록 함

In [34]:
si_gu_data

     si   gu    oil_price
0    강원  강릉시  1353.181818
1    강원  고성군  1378.000000
2    강원  동해시  1324.250000
3    강원  삼척시  1351.111111
4    강원  속초시  1346.357143
..   ..  ...          ...
245  충북  제천시  1313.600000
246  충북  증평군  1303.800000
247  충북  진천군  1355.761905
248  충북  청주시  1337.965517
249  충북  충주시  1308.291667

[250 rows x 3 columns]

In [35]:
stations_null = stations[stations["oil_price"]== '-']
stations_null.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
34,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구
35,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구
25,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구
26,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),-,GS칼텍스,N,서울,서초구
25,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),-,S-OIL,Y,서울,영등포구

In [36]:
len(stations_null)

103

In [37]:
stations_null_tmp = pd.merge(stations_null, si_gu_data, how = "left", left_on = ["si","gu"], right_on = ["si","gu"])

In [38]:
stations_null_tmp

,sido,os_nm,new_adr,oil_price_x,poll_div_cd,self_yn,si,gu,oil_price_y
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구,1541.882353
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구,1541.882353
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구,1482.080000
3,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),-,GS칼텍스,N,서울,서초구,1482.080000
4,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),-,S-OIL,Y,서울,영등포구,1468.240000
...,...,...,...,...,...,...,...,...,...
98,경상남도,(주)천하주유소,경남 밀양 부북면 제대2길 14,-,S-OIL,N,경남,밀양,NaN
99,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시,1299.364583
100,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시,1299.364583
101,경상남도,영동주유소,경남 함안군 산인면 함마대로 1834,-,S-OIL,N,경남,함안군,1308.466667
102,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),-,GS칼텍스,N,제주,제주시,1397.154930

In [39]:
si_data =pd.pivot_table(stations_notnull, index =["si"] , values = ["oil_price"],aggfunc = np.mean)
si_data.reset_index(inplace = True) # 인덱스를 처음부터 다시 기록하도록 함

In [43]:
si_data

    si    oil_price
0   강원  1342.835052
1   경기  1338.775622
2   경남  1308.069869
3   경북  1303.333945
4   광주  1307.319372
5   대구  1301.233480
6   대전  1311.020408
7   부산  1317.803347
8   서울  1419.846774
9   세종  1318.103448
10  울산  1314.685714
11  인천  1324.232759
12  전남  1329.944882
13  전북  1304.206468
14  제주  1386.107527
15  충남  1328.012500
16  충북  1338.524217

In [44]:
oil_tmp= si_data[si_data["si"] == "경남"]['oil_price']
print(oil_tmp)

2    1308.069869
Name: oil_price, dtype: float64

In [45]:
# Null 값 대체 
stations_null_tmp.loc[98,'oil_price_y'] = 1308.069869

In [46]:
stations_null_tmp

,sido,os_nm,new_adr,oil_price_x,poll_div_cd,self_yn,si,gu,oil_price_y
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구,1541.882353
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구,1541.882353
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구,1482.080000
3,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),-,GS칼텍스,N,서울,서초구,1482.080000
4,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),-,S-OIL,Y,서울,영등포구,1468.240000
...,...,...,...,...,...,...,...,...,...
98,경상남도,(주)천하주유소,경남 밀양 부북면 제대2길 14,-,S-OIL,N,경남,밀양,1308.069869
99,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시,1299.364583
100,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,-,현대오일뱅크,Y,경남,창원시,1299.364583
101,경상남도,영동주유소,경남 함안군 산인면 함마대로 1834,-,S-OIL,N,경남,함안군,1308.466667
102,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),-,GS칼텍스,N,제주,제주시,1397.154930

In [47]:
del stations_null_tmp["oil_price_x"]

In [48]:
stations_null_tmp.rename(columns = {"oil_price_y": "oil_price"}, inplace = True)

In [49]:
stations_null_tmp

,sido,os_nm,new_adr,poll_div_cd,self_yn,si,gu,oil_price
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,N,서울,강남구,1541.882353
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,N,서울,강남구,1541.882353
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),SK에너지,N,서울,서초구,1482.080000
3,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),GS칼텍스,N,서울,서초구,1482.080000
4,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),S-OIL,Y,서울,영등포구,1468.240000
...,...,...,...,...,...,...,...,...
98,경상남도,(주)천하주유소,경남 밀양 부북면 제대2길 14,S-OIL,N,경남,밀양,1308.069869
99,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,경남,창원시,1299.364583
100,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,경남,창원시,1299.364583
101,경상남도,영동주유소,경남 함안군 산인면 함마대로 1834,S-OIL,N,경남,함안군,1308.466667
102,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),GS칼텍스,N,제주,제주시,1397.154930

## 가격 정보 합치기

In [50]:
stations_null_tmp

,sido,os_nm,new_adr,poll_div_cd,self_yn,si,gu,oil_price
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,N,서울,강남구,1541.882353
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,N,서울,강남구,1541.882353
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),SK에너지,N,서울,서초구,1482.080000
3,서울특별시,경일석유(주)직영 삼방주유소,서울 서초구 사평대로 364 (서초동),GS칼텍스,N,서울,서초구,1482.080000
4,서울특별시,성락주유소,서울 영등포구 가마산로 414 (신길동),S-OIL,Y,서울,영등포구,1468.240000
...,...,...,...,...,...,...,...,...
98,경상남도,(주)천하주유소,경남 밀양 부북면 제대2길 14,S-OIL,N,경남,밀양,1308.069869
99,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,경남,창원시,1299.364583
100,경상남도,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,경남,창원시,1299.364583
101,경상남도,영동주유소,경남 함안군 산인면 함마대로 1834,S-OIL,N,경남,함안군,1308.466667
102,제주특별자치도,창성주유소,제주 제주시 노형로 315 (노형동),GS칼텍스,N,제주,제주시,1397.154930

In [51]:
stations_notnull

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),1363.0,SK에너지,Y,서울,강남구
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384.0,SK에너지,Y,서울,강남구
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384.0,현대오일뱅크,Y,서울,강남구
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,1385.0,GS칼텍스,Y,서울,강남구
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),1389.0,S-OIL,Y,서울,강남구
...,...,...,...,...,...,...,...,...
7081,제주특별자치도,현대오일뱅크(주)직영 연북로주유소,제주특별자치도 제주시 연북로 524(아라일동),1400.0,현대오일뱅크,N,제주,제주시
7082,제주특별자치도,삼남주유소,제주특별자치도 제주시 남성로 60 (용담일동),1400.0,GS칼텍스,N,제주,제주시
7083,제주특별자치도,도평주유소,제주 제주시 우평로 197 (도평동),1400.0,SK에너지,N,제주,제주시
7084,제주특별자치도,애월농협주유소,제주 제주시 애월읍 일주서로 6252,1400.0,NH-OIL,N,제주,제주시
7085,제주특별자치도,신도시주유소,제주 제주시 과원로 210 (연동),1430.0,SK에너지,N,제주,제주시

In [52]:
stations_notnull = stations_notnull.sort_index(axis=1)
stations_null_tmp = stations_null_tmp.sort_index(axis=1)

In [53]:
stations_notnull

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 헌릉로 731 (세곡동),1363.0,(주)보성 세곡주유소,SK에너지,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.0,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.0,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
3,강남구,서울 강남구 헌릉로 730,1385.0,GS칼텍스(주)직영 산성주유소,GS칼텍스,Y,서울,서울특별시
4,강남구,서울 강남구 밤고개로 215 (율현동),1389.0,방죽주유소,S-OIL,Y,서울,서울특별시
...,...,...,...,...,...,...,...,...
7081,제주시,제주특별자치도 제주시 연북로 524(아라일동),1400.0,현대오일뱅크(주)직영 연북로주유소,현대오일뱅크,N,제주,제주특별자치도
7082,제주시,제주특별자치도 제주시 남성로 60 (용담일동),1400.0,삼남주유소,GS칼텍스,N,제주,제주특별자치도
7083,제주시,제주 제주시 우평로 197 (도평동),1400.0,도평주유소,SK에너지,N,제주,제주특별자치도
7084,제주시,제주 제주시 애월읍 일주서로 6252,1400.0,애월농협주유소,NH-OIL,N,제주,제주특별자치도
7085,제주시,제주 제주시 과원로 210 (연동),1430.0,신도시주유소,SK에너지,N,제주,제주특별자치도

In [54]:
stations_null_tmp

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울특별시 강남구 봉은사로 311 (논현동),1541.882353,동우주유소,SK에너지,N,서울,서울특별시
1,강남구,서울 강남구 삼성로 521 (삼성동),1541.882353,삼성주유소,SK에너지,N,서울,서울특별시
2,서초구,서울 서초구 남부순환로 2391 (서초동),1482.080000,전당앞주유소,SK에너지,N,서울,서울특별시
3,서초구,서울 서초구 사평대로 364 (서초동),1482.080000,경일석유(주)직영 삼방주유소,GS칼텍스,N,서울,서울특별시
4,영등포구,서울 영등포구 가마산로 414 (신길동),1468.240000,성락주유소,S-OIL,Y,서울,서울특별시
...,...,...,...,...,...,...,...,...
98,밀양,경남 밀양 부북면 제대2길 14,1308.069869,(주)천하주유소,S-OIL,N,경남,경상남도
99,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
100,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
101,함안군,경남 함안군 산인면 함마대로 1834,1308.466667,영동주유소,S-OIL,N,경남,경상남도
102,제주시,제주 제주시 노형로 315 (노형동),1397.154930,창성주유소,GS칼텍스,N,제주,제주특별자치도

In [55]:
stations_price = pd.concat([stations_notnull,stations_null_tmp], axis = 0)

In [56]:
stations_price

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 헌릉로 731 (세곡동),1363.000000,(주)보성 세곡주유소,SK에너지,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.000000,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.000000,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
3,강남구,서울 강남구 헌릉로 730,1385.000000,GS칼텍스(주)직영 산성주유소,GS칼텍스,Y,서울,서울특별시
4,강남구,서울 강남구 밤고개로 215 (율현동),1389.000000,방죽주유소,S-OIL,Y,서울,서울특별시
...,...,...,...,...,...,...,...,...
98,밀양,경남 밀양 부북면 제대2길 14,1308.069869,(주)천하주유소,S-OIL,N,경남,경상남도
99,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
100,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
101,함안군,경남 함안군 산인면 함마대로 1834,1308.466667,영동주유소,S-OIL,N,경남,경상남도
102,제주시,제주 제주시 노형로 315 (노형동),1397.154930,창성주유소,GS칼텍스,N,제주,제주특별자치도

In [57]:
carwash = stations_price.copy()

In [58]:
carwash

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 헌릉로 731 (세곡동),1363.000000,(주)보성 세곡주유소,SK에너지,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.000000,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.000000,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
3,강남구,서울 강남구 헌릉로 730,1385.000000,GS칼텍스(주)직영 산성주유소,GS칼텍스,Y,서울,서울특별시
4,강남구,서울 강남구 밤고개로 215 (율현동),1389.000000,방죽주유소,S-OIL,Y,서울,서울특별시
...,...,...,...,...,...,...,...,...
98,밀양,경남 밀양 부북면 제대2길 14,1308.069869,(주)천하주유소,S-OIL,N,경남,경상남도
99,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
100,창원시,경남 창원시 마산회원구 내서읍 호원로 141,1299.364583,광신직영(호원셀프),현대오일뱅크,Y,경남,경상남도
101,함안군,경남 함안군 산인면 함마대로 1834,1308.466667,영동주유소,S-OIL,N,경남,경상남도
102,제주시,제주 제주시 노형로 315 (노형동),1397.154930,창성주유소,GS칼텍스,N,제주,제주특별자치도

## 주소 바꾸기

In [59]:
carwash['api_adr']  = [eachAddress.split("(")[0] for eachAddress in carwash["new_adr"]]

In [60]:
carwash["wash_yn"]= "Y"
carwash["repair_yn"] = "N"
carwash["conv_yn"] = "N"
carwash["all24_yn"] = "N"

In [61]:
carwash.columns

Index(['gu', 'new_adr', 'oil_price', 'os_nm', 'poll_div_cd', 'self_yn', 'si',
       'sido', 'api_adr', 'wash_yn', 'repair_yn', 'conv_yn', 'all24_yn'],
      dtype='object')

In [63]:
#['A', 'B', 'C'] <-this is your columns order
carwash = carwash[["sido", "si", "gu","os_nm","new_adr","api_adr","poll_div_cd",
                   "self_yn","wash_yn","repair_yn","conv_yn","all24_yn",
                   "oil_price"]]

In [64]:
carwash

,sido,si,gu,os_nm,new_adr,api_adr,poll_div_cd,self_yn,wash_yn,repair_yn,conv_yn,all24_yn,oil_price
0,서울특별시,서울,강남구,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),서울 강남구 헌릉로 731,SK에너지,Y,Y,N,N,N,1363.000000
1,서울특별시,서울,강남구,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),서울 강남구 남부순환로 2651,SK에너지,Y,Y,N,N,N,1384.000000
2,서울특별시,서울,강남구,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),서울 강남구 남부순환로 2718,현대오일뱅크,Y,Y,N,N,N,1384.000000
3,서울특별시,서울,강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,서울 강남구 헌릉로 730,GS칼텍스,Y,Y,N,N,N,1385.000000
4,서울특별시,서울,강남구,방죽주유소,서울 강남구 밤고개로 215 (율현동),서울 강남구 밤고개로 215,S-OIL,Y,Y,N,N,N,1389.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,경상남도,경남,밀양,(주)천하주유소,경남 밀양 부북면 제대2길 14,경남 밀양 부북면 제대2길 14,S-OIL,N,Y,N,N,N,1308.069869
99,경상남도,경남,창원시,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,Y,N,N,N,1299.364583
100,경상남도,경남,창원시,광신직영(호원셀프),경남 창원시 마산회원구 내서읍 호원로 141,경남 창원시 마산회원구 내서읍 호원로 141,현대오일뱅크,Y,Y,N,N,N,1299.364583
101,경상남도,경남,함안군,영동주유소,경남 함안군 산인면 함마대로 1834,경남 함안군 산인면 함마대로 1834,S-OIL,N,Y,N,N,N,1308.466667
102,제주특별자치도,제주,제주시,창성주유소,제주 제주시 노형로 315 (노형동),제주 제주시 노형로 315,GS칼텍스,N,Y,N,N,N,1397.154930

In [66]:
carwash.to_csv('C:\\Users\\Sung\\Desktop\\Opinet_Data\\carwash.csv',encoding = 'cp949')