# 데이터 정리

## 경정비 데이터 합치기

In [2]:
import pandas as pd 
from glob import glob # 파일 경로를 쉽게 접근할 수 있게 해주는 모듈

In [246]:
# /data 폴더 안에  # 지역으로 시작하는 # xls 파일 전체를 의미 
glob("C:/Users/Sung/Desktop/Opinet_Data/경정비/지역*.xls")

['C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (1).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (10).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (100).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (11).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (12).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (13).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (14).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (15).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (16).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (17).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (18).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (19).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (2).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (20).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (21).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (22).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (23).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (24).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (25).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (26).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (27).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (28).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (29).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (3).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (30).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (31).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (32).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (33).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (34).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (35).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (36).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (37).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (38).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (39).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (4).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (40).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (41).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (42).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (43).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (44).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (45).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (46).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (47).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (48).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (49).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (5).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (50).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (51).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (52).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (53).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (54).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (55).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (56).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (57).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (58).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (59).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (6).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (60).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (61).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (62).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (63).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (64).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (65).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (66).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (67).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (68).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (69).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (7).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (70).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (71).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (72).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (73).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (74).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (75).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (76).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (77).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (78).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (79).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (8).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (80).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (81).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (82).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (83).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (84).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (85).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (86).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (87).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (88).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (89).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (9).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (90).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (91).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (92).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (93).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (94).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (95).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (96).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (97).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (98).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (99).xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143436.706.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143442.266.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143447.247.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143452.267.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143457.240.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143502.168.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143507.974.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143512.801.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143518.318.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143523.811.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143528.770.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143534.536.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143540.162.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143545.103.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143550.755.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143555.718.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143601.644.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143606.654.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143612.351.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143618.210.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143623.068.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143628.773.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143634.409.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143642.270.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143646.962.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143651.933.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143657.498.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143703.053.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143708.574.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143714.131.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143719.668.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143725.426.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143730.384.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143735.325.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143740.190.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143745.812.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143750.732.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143756.307.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143801.256.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143806.798.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143812.336.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143819.896.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143825.455.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143830.985.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143836.514.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143842.053.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143847.605.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143853.140.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143858.687.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143904.231.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143909.904.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143914.827.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143920.435.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143925.403.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143931.270.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143936.832.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143943.787.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143949.392.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143954.301.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T143959.835.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144004.843.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144009.948.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144015.462.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144021.134.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144026.696.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144032.350.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144037.879.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144042.808.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144048.412.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144053.480.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144058.601.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144104.187.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144109.671.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144114.572.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144122.129.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144127.761.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144133.339.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144138.284.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144144.025.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144149.550.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144154.694.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144200.242.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144205.920.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144210.905.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144216.485.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144222.106.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144227.687.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144233.343.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144238.162.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144243.713.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144250.675.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144256.233.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144301.832.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144306.813.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144312.421.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144317.348.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144322.856.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144328.404.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144334.088.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144339.673.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144345.277.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144350.552.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144356.125.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144401.747.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144406.889.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144412.642.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144418.246.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144423.763.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144428.656.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144433.582.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144438.487.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144443.990.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144451.000.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144456.004.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144501.537.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144506.558.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144512.103.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144517.022.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144522.541.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144528.030.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144533.562.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144538.517.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144544.110.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144549.651.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144555.167.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144600.069.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144605.620.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144611.146.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144616.741.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144622.237.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144627.185.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144632.699.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144638.445.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144643.990.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144649.074.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144654.063.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144658.993.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144705.936.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144711.052.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144716.786.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144721.633.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144727.197.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144732.787.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144738.315.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144743.832.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144749.413.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144755.034.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144800.773.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144806.394.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144812.133.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144817.124.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144822.750.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144828.374.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144834.180.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144839.897.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144844.831.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144849.794.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144854.755.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144900.259.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144905.232.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144912.816.xls',
 'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) - 2020-10-18T144918.371.xls']

In [248]:
# station_files 변수에 각 엑셀 파일의 경로와 이름을 리스트로 저장 
station_files = glob("C:/Users/Sung/Desktop/Opinet_Data/경정비/지역*.xls")
len(station_files)

262

In [249]:
station_files[0]

'C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (1).xls'

In [250]:
# 파일 한개 가져오기 
tmp_raw = []
tmp = pd.read_excel('C:/Users/Sung/Desktop/Opinet_Data/경정비\\지역_위치별(주유소) (1).xls', header = 2) # header 는 3번째 줄에 있음 
tmp_raw.append(tmp)
tmp_raw

[       지역               상호                         주소      상표          전화번호  \
 0   서울특별시   현대오일뱅크 도곡셀프주유소  서울 강남구  남부순환로 2718 (도곡2동)  현대오일뱅크   02-529-5101
 1   서울특별시         오일프러스 셀프    서울 강남구 남부순환로 2651 (도곡동)   SK에너지  02-3462-5100
 2   서울특별시  현대오일뱅크(주) 유진주유소       서울 강남구 논현로 152 (도곡동)  현대오일뱅크  02-3462-5215
 3   서울특별시  지에스칼텍스㈜ GS타워주유소       서울 강남구 논현로 516 (역삼동)   GS칼텍스   02-539-5145
 4   서울특별시    지에스칼텍스㈜ 은마주유소            서울 강남구 영동대로 235   GS칼텍스  02-3452-1882
 5   서울특별시       (주)선진도곡주유소       서울 강남구 도곡로 162 (도곡동)   S-OIL  02-2058-3024
 6   서울특별시   SK에너지(주) 매봉주유소             서울 강남구 언주로 307   SK에너지   02-556-5510
 7   서울특별시            역삼주유소       서울 강남구 역삼로 205 (역삼동)   GS칼텍스   02-557-5189
 8   서울특별시  현대오일뱅크㈜직영 오천주유소      서울 강남구 봉은사로 503 (삼성동)  현대오일뱅크   02-545-2822
 9   서울특별시          SK논현주유소       서울 강남구 논현로 747 (논현동)   SK에너지   02-511-0955
 10  서울특별시            동우주유소  서울특별시 강남구  봉은사로 311 (논현동)   SK에너지   02-542-6726
 11  서울특별시            삼성주유소       서울 강남구 삼성로 521 (삼성동)   SK에너지   02-538-0809

    셀프여부 고급휘발유   휘발유    경유  실내등유
 0     Y  1547  1384  1179     -
 1     Y  1547  1384  1179     -
 2     N  1562  1398  1194  1090
 3     N  1628  1415  1255     -
 4     N  1565  1415  1255     -
 5     N  1570  1415  1255     -
 6     Y  1565  1415  1239     -
 7     N  1625  1415  1255     -
 8     N  1597  1441  1266  1025
 9     N  2048  1788  1648  1350
 10    N     -     -     -     -
 11    N     -     -     -     -  ]

In [251]:
# 파일 여러개 가져오기
# read_excel 로 각 파일을 읽은 후
# tmp_raw 변수에 append
# 반복문 끝나면 pd.concat 명령으로 쉽게 하나로 합침
# 25개 엑셀 파일 하나로 합침

tmp_raw = []
for file_name in station_files:
    tmp = pd.read_excel(file_name, header = 2) # header 는 3번째 줄에 있음 
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

In [252]:
station_raw.info() # 가격 정보가 숫자형(int, float) 아니어서 나중에 처리해야 함

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1399 entries, 0 to 6
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      1399 non-null   object
 1   상호      1399 non-null   object
 2   주소      1399 non-null   object
 3   상표      1399 non-null   object
 4   전화번호    1399 non-null   object
 5   셀프여부    1399 non-null   object
 6   고급휘발유   1399 non-null   object
 7   휘발유     1399 non-null   object
 8   경유      1399 non-null   object
 9   실내등유    1399 non-null   object
dtypes: object(10)
memory usage: 120.2+ KB

In [253]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1547,1384,1179,-
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1547,1384,1179,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1562,1398,1194,1090
3,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,1628,1415,1255,-
4,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,1565,1415,1255,-

In [254]:
station_raw.tail()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
2,제주특별자치도,이도그린주유소,제주 제주시 연삼로 430,SK에너지,064-753-7272,N,-,1400,1180,730
3,제주특별자치도,도남주유소,제주특별자치도 제주시 연삼로 328 (도남동),SK에너지,064-751-2536,N,-,1400,1180,730
4,제주특별자치도,서부관광주유소,제주특별자치도 제주시 노형로 148 (해안동),GS칼텍스,064-747-0065,N,-,1400,1180,-
5,제주특별자치도,내트럭(주)제주사업소,제주 제주시 번영로 345,SK에너지,064-756-3005,N,-,1400,1180,-
6,제주특별자치도,동산주유소,제주 제주시 연북로 130 (연동),GS칼텍스,064-749-5144,N,-,1400,1180,730

In [255]:
# 원하는 컬럼 가지고 오고 이름도 다시 정의 stations 라는 변수에 저장 
# 지역, 상호, 주소, 상표, 셀프여부 
stations = pd.DataFrame({"sido" : station_raw["지역"],
                         "os_nm": station_raw["상호"],
                         "new_adr": station_raw["주소"],
                         "oil_price": station_raw["휘발유"],
                         "poll_div_cd": station_raw["상표"],
                         "self_yn": station_raw["셀프여부"]})
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),1398,현대오일뱅크,N
3,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),1415,GS칼텍스,N
4,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,1415,GS칼텍스,N

## 주소-> 시/구로 쪼개기

In [256]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split("(")

['서울 강남구 현릉로 731', '세곡동)']

In [257]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split(" ")

['서울', '강남구', '현릉로', '731(세곡동)']

In [258]:
eachAddress = "서울 강남구 현릉로 731(세곡동)"
eachAddress.split()[0]

'서울'

In [259]:
# 구 이름 추출 
stations['si']  = [eachAddress.split()[0] for eachAddress in stations["new_adr"]] 
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y,서울
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y,서울
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),1398,현대오일뱅크,N,서울
3,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),1415,GS칼텍스,N,서울
4,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,1415,GS칼텍스,N,서울

In [260]:
# 구 이름 추출 
stations['gu']  = [eachAddress.split()[1] for eachAddress in stations["new_adr"]] 
stations.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384,현대오일뱅크,Y,서울,강남구
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384,SK에너지,Y,서울,강남구
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),1398,현대오일뱅크,N,서울,강남구
3,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),1415,GS칼텍스,N,서울,강남구
4,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,1415,GS칼텍스,N,서울,강남구

In [261]:
# unique() 검사 
stations["si"].unique() # 잘 뽑혔는지 확인

array(['서울', '서울특별시', '경기', '부산', '부산광역시', '대구', '인천', '인천광역시', '광주',
       '광주광역시', '대전', '대전광역시', '울산', '세종특별자치시', '세종', '경기도', '강원', '강원도',
       '충북', '충청북도', '충남', '충청남도', '전북', '전남', '전라남도', '경북', '경상북도', '경남',
       '경상남도', '제주특별자치도', '제주'], dtype=object)

In [263]:
stations.loc[stations["si"] == "광주시"]

Empty DataFrame
Columns: [sido, os_nm, new_adr, oil_price, poll_div_cd, self_yn, si, gu]
Index: []

In [264]:
stations.loc[stations["si"] == "세종시"]

Empty DataFrame
Columns: [sido, os_nm, new_adr, oil_price, poll_div_cd, self_yn, si, gu]
Index: []

In [265]:
stations.loc[stations["si"] == "청남"]

Empty DataFrame
Columns: [sido, os_nm, new_adr, oil_price, poll_div_cd, self_yn, si, gu]
Index: []

In [75]:
stations.loc[stations["si"] == "서울특별시"]

Empty DataFrame
Columns: [sido, os_nm, new_adr, oil_price, poll_div_cd, self_yn, si, gu]
Index: []

In [266]:
stations.loc[stations["si"] == "서울특별시", "si"] = "서울"
stations.loc[stations["si"] == "경기도", "si"] = "경기"
stations.loc[stations["si"] == "부산광역시", "si"] = "부산"
stations.loc[stations["si"] == "대구광역시", "si"] = "대구"

stations.loc[stations["si"] == "인천광역시", "si"] = "인천"
stations.loc[stations["si"] == "광주광역시", "si"] = "광주"
stations.loc[stations["si"] == "광주시", "si"] = "광주"

stations.loc[stations["si"] == "대전광역시", "si"] = "대전"
stations.loc[stations["si"] == "울산광역시", "si"] = "울산"
stations.loc[stations["si"] == "세종특별자치시", "si"] = "세종"
stations.loc[stations["si"] == "세종시", "si"] = "세종"

stations.loc[stations["si"] == "강원도", "si"] = "강원"
stations.loc[stations["si"] == "충청북도", "si"] = "충북"
stations.loc[stations["si"] == "충청남도", "si"] = "충남"
stations.loc[stations["si"] == "청남", "si"] = "충남"

stations.loc[stations["si"] == "전라북도", "si"] = "전북"
stations.loc[stations["si"] == "전라남도", "si"] = "전남"
stations.loc[stations["si"] == "경상북도", "si"] = "경북"
stations.loc[stations["si"] == "경상남도", "si"] = "경남"
stations.loc[stations["si"] == "제주특별자치도", "si"] = "제주"
stations.loc[stations["si"] == "제주도", "si"] = "제주"

In [267]:
# unique() 검사 
stations["si"].unique() # 잘 뽑혔는지 확인

array(['서울', '경기', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [268]:
len(stations["si"].unique())

17

In [269]:
# unique() 검사 
stations["gu"].unique() # 잘 뽑혔는지 확인

array(['강남구', '도봉구', '안산시', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구',
       '성북구', '송파구', '양천구', '강동구', '영등포구', '용산구', '은평구', '중구', '중랑구',
       '강서구', '금정구', '기장군', '남구', '강북구', '동구', '동래구', '부산진구', '북구', '사상구',
       '사하구', '서구', '수영구', '연제구', '해운대구', '달서구', '달성군', '수성구', '관악구',
       '계양구', '남동구', '미추홀구', '부평구', '연수구', '광진구', '광산구', '대덕구', '유성구',
       '구로구', '울주군', '다정북로', '갈매로', '소정면', '가평군', '고양시', '금천구', '과천시',
       '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '노원구',
       '성남시', '수원시', '시흥시', '안성시', '안양시', '양주시', '양평군', '여주시', '연천군',
       '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시',
       '화성시', '강릉시', '고성군', '동해시', '삼척시', '속초시', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '괴산군', '단양군',
       '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시', '충주시',
       '계룡시', '공주시', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시',
       '예산군', '천안시', '홍성군', '고창군', '군산시', '김제시', '남원시', '무주군', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '광양시', '나주시', '담양군', '목포시',
       '무안군', '순천시', '여수시', '영암군', '완도군', '장성군', '해남군', '화순군', '경산시',
       '경주시', '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군',
       '안동시', '영덕군', '영주시', '영천시', '예천군', '울진군', '의성군', '청도군', '칠곡군',
       '포항시', '거제시', '거창군', '김해시', '남해군', '밀양시', '사천시', '양산시', '진주시',
       '창녕군', '창원시', '통영시', '하동군', '함안군', '서귀포시', '제주시'], dtype=object)

## 가격 정보 전처리

In [270]:
stations[stations["oil_price"] == "-"]

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
10,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구
11,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구
6,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구
6,부산광역시,현대주유소,부산 강서구 낙동북로 209 (대저1동),-,S-OIL,N,부산,강서구
10,부산광역시,하늘주유소,부산 사상구 백양대로 333 (주례동),-,S-OIL,Y,부산,사상구
13,인천광역시,(주)원탑코리아 주유소,인천 남동구 석정로 544 (간석동),-,S-OIL,Y,인천,남동구
15,인천광역시,동양산업(주)직영 효성주유소,인천 부평구 부평북로 154 (청천동),-,GS칼텍스,Y,인천,부평구
15,인천광역시,대복주유소,인천 서구 백범로 706 (가좌동),-,자가상표,N,인천,서구
10,광주광역시,지에스칼텍스(주)첨단지오주유소,광주 광산구 첨단과기로 33 (비아동),-,GS칼텍스,Y,광주,광산구
9,대전광역시,지에스칼텍스㈜ 덕명주유소,대전 유성구 현충원로 283 (덕명동),-,GS칼텍스,Y,대전,유성구
6,울산광역시,대복주유소,울산 울주군 웅촌면 웅촌로 671,-,현대오일뱅크,N,울산,울주군
21,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),-,S-OIL,Y,경기,고양시
9,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),-,S-OIL,Y,경기,고양시
5,경기도,철산주유소,경기 광명시 오리로 883,-,현대오일뱅크,N,경기,광명시
6,경기도,한누리주유소,경기 김포시 월곶면 김포대로 2519,-,SK에너지,N,경기,김포시
15,경기도,삼정주유소,경기 부천시 오정구 중동로 447 (삼정동),-,S-OIL,Y,경기,부천시
37,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),-,SK에너지,Y,경기,용인시
38,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),-,GS칼텍스,N,경기,용인시
20,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),-,GS칼텍스,N,경기,용인시
4,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),-,SK에너지,Y,경기,용인시
11,경기도,현대오일뱅크㈜직영 이천제일셀프주유소,경기도 이천시 대월면 경충대로 1960,-,현대오일뱅크,Y,경기,이천시
18,경기도,오성주유소,경기 평택시 안중읍 서동대로 1924,-,SK에너지,N,경기,평택시
16,경기도,지에스칼텍스(주)태안그린주유소,경기 화성시 효행로 852 (안녕동),-,GS칼텍스,N,경기,화성시
9,강원도,동광주유소,강원 강릉시 강동면 임곡로 217,-,현대오일뱅크,N,강원,강릉시
14,충청남도,문방스타주유소,충남 아산시 아산만로 1504,-,현대오일뱅크,N,충남,아산시
4,전라북도,광장주유소,전북 남원시 춘향로 294(용정동),-,현대오일뱅크,N,전북,남원시
14,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),-,S-OIL,N,전북,전주시
8,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),-,S-OIL,N,전북,전주시
4,전라남도,서해안주유소,전남 무안군 무안읍 무안로 592,-,SK에너지,N,전남,무안군
1,경상북도,병곡주유소,경북 영덕군 병곡면 흰돌로 20,-,자가상표,N,경북,영덕군

In [271]:
# * 2. 정보가 기입되지 않은 주유소는 대상에서 제외 
stations_notnull = stations[stations["oil_price"] != '-']
stations_notnull.head()
stations_notnull["oil_price"] = [float(value) for value in stations_notnull["oil_price"]]
stations_notnull.info() # 가격 정보가 float 으로 바뀜\
stations_notnull.reset_index(inplace = True) # 인덱스를 처음부터 다시 기록하도록 함 
del stations_notnull["index"] # index 라는 컬럼이 하나 더 생성되어, 그 부분 제거

# 구별로 가격 평균 구하기 
import numpy as np 
si_gu_data =pd.pivot_table(stations_notnull, index =["si","gu"] , values = ["oil_price"],aggfunc = np.mean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1369 entries, 0 to 6
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sido         1369 non-null   object
 1   os_nm        1369 non-null   object
 2   new_adr      1369 non-null   object
 3   oil_price    1369 non-null   float64
 4   poll_div_cd  1369 non-null   object
 5   self_yn      1369 non-null   object
 6   si           1369 non-null   object
 7   gu           1369 non-null   object
dtypes: float64(1), object(7)
memory usage: 96.3+ KB

<ipython-input-271-fcde174fa93a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations_notnull["oil_price"] = [float(value) for value in stations_notnull["oil_price"]]

In [272]:
si_gu_data.reset_index(inplace = True) # 인덱스를 처음부터 다시 기록하도록 함

In [274]:
si_gu_data

     si   gu    oil_price
0    강원  강릉시  1343.888889
1    강원  고성군  1357.000000
2    강원  동해시  1325.000000
3    강원  삼척시  1355.000000
4    강원  속초시  1339.250000
..   ..  ...          ...
194  충북  제천시  1363.333333
195  충북  증평군  1289.000000
196  충북  진천군  1399.000000
197  충북  청주시  1329.173913
198  충북  충주시  1323.142857

[199 rows x 3 columns]

In [275]:
stations_null = stations[stations["oil_price"]== '-']
stations_null.head()

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
10,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구
11,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구
6,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구
6,부산광역시,현대주유소,부산 강서구 낙동북로 209 (대저1동),-,S-OIL,N,부산,강서구
10,부산광역시,하늘주유소,부산 사상구 백양대로 333 (주례동),-,S-OIL,Y,부산,사상구

In [276]:
len(stations_null)

30

In [277]:
stations_null_tmp = pd.merge(stations_null, si_gu_data, how = "left", left_on = ["si","gu"], right_on = ["si","gu"])

In [278]:
stations_null_tmp

,sido,os_nm,new_adr,oil_price_x,poll_div_cd,self_yn,si,gu,oil_price_y
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),-,SK에너지,N,서울,강남구,1447.000000
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),-,SK에너지,N,서울,강남구,1447.000000
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),-,SK에너지,N,서울,서초구,1500.500000
3,부산광역시,현대주유소,부산 강서구 낙동북로 209 (대저1동),-,S-OIL,N,부산,강서구,1343.333333
4,부산광역시,하늘주유소,부산 사상구 백양대로 333 (주례동),-,S-OIL,Y,부산,사상구,1333.700000
5,인천광역시,(주)원탑코리아 주유소,인천 남동구 석정로 544 (간석동),-,S-OIL,Y,인천,남동구,1363.846154
6,인천광역시,동양산업(주)직영 효성주유소,인천 부평구 부평북로 154 (청천동),-,GS칼텍스,Y,인천,부평구,1332.933333
7,인천광역시,대복주유소,인천 서구 백범로 706 (가좌동),-,자가상표,N,인천,서구,1292.200000
8,광주광역시,지에스칼텍스(주)첨단지오주유소,광주 광산구 첨단과기로 33 (비아동),-,GS칼텍스,Y,광주,광산구,1316.400000
9,대전광역시,지에스칼텍스㈜ 덕명주유소,대전 유성구 현충원로 283 (덕명동),-,GS칼텍스,Y,대전,유성구,1313.444444
10,울산광역시,대복주유소,울산 울주군 웅촌면 웅촌로 671,-,현대오일뱅크,N,울산,울주군,1288.833333
11,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),-,S-OIL,Y,경기,고양시,1299.714286
12,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),-,S-OIL,Y,경기,고양시,1299.714286
13,경기도,철산주유소,경기 광명시 오리로 883,-,현대오일뱅크,N,경기,광명시,1320.200000
14,경기도,한누리주유소,경기 김포시 월곶면 김포대로 2519,-,SK에너지,N,경기,김포시,1306.000000
15,경기도,삼정주유소,경기 부천시 오정구 중동로 447 (삼정동),-,S-OIL,Y,경기,부천시,1320.400000
16,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),-,SK에너지,Y,경기,용인시,1351.945946
17,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),-,GS칼텍스,N,경기,용인시,1351.945946
18,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),-,GS칼텍스,N,경기,용인시,1351.945946
19,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),-,SK에너지,Y,경기,용인시,1351.945946
20,경기도,현대오일뱅크㈜직영 이천제일셀프주유소,경기도 이천시 대월면 경충대로 1960,-,현대오일뱅크,Y,경기,이천시,1379.181818
21,경기도,오성주유소,경기 평택시 안중읍 서동대로 1924,-,SK에너지,N,경기,평택시,1323.500000
22,경기도,지에스칼텍스(주)태안그린주유소,경기 화성시 효행로 852 (안녕동),-,GS칼텍스,N,경기,화성시,1346.187500
23,강원도,동광주유소,강원 강릉시 강동면 임곡로 217,-,현대오일뱅크,N,강원,강릉시,1343.888889
24,충청남도,문방스타주유소,충남 아산시 아산만로 1504,-,현대오일뱅크,N,충남,아산시,1350.785714
25,전라북도,광장주유소,전북 남원시 춘향로 294(용정동),-,현대오일뱅크,N,전북,남원시,1319.500000
26,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),-,S-OIL,N,전북,전주시,1302.071429
27,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),-,S-OIL,N,전북,전주시,1302.071429
28,전라남도,서해안주유소,전남 무안군 무안읍 무안로 592,-,SK에너지,N,전남,무안군,1362.500000
29,경상북도,병곡주유소,경북 영덕군 병곡면 흰돌로 20,-,자가상표,N,경북,영덕군,1318.000000

In [279]:
stations_null_tmp[stations_null_tmp["oil_price_y"].isna()]

Empty DataFrame
Columns: [sido, os_nm, new_adr, oil_price_x, poll_div_cd, self_yn, si, gu, oil_price_y]
Index: []

In [280]:
del stations_null_tmp["oil_price_x"] 
stations_null_tmp.rename(columns = {"oil_price_y": "oil_price"}, inplace = True)

In [281]:
stations_null_tmp

,sido,os_nm,new_adr,poll_div_cd,self_yn,si,gu,oil_price
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,N,서울,강남구,1447.000000
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,N,서울,강남구,1447.000000
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),SK에너지,N,서울,서초구,1500.500000
3,부산광역시,현대주유소,부산 강서구 낙동북로 209 (대저1동),S-OIL,N,부산,강서구,1343.333333
4,부산광역시,하늘주유소,부산 사상구 백양대로 333 (주례동),S-OIL,Y,부산,사상구,1333.700000
5,인천광역시,(주)원탑코리아 주유소,인천 남동구 석정로 544 (간석동),S-OIL,Y,인천,남동구,1363.846154
6,인천광역시,동양산업(주)직영 효성주유소,인천 부평구 부평북로 154 (청천동),GS칼텍스,Y,인천,부평구,1332.933333
7,인천광역시,대복주유소,인천 서구 백범로 706 (가좌동),자가상표,N,인천,서구,1292.200000
8,광주광역시,지에스칼텍스(주)첨단지오주유소,광주 광산구 첨단과기로 33 (비아동),GS칼텍스,Y,광주,광산구,1316.400000
9,대전광역시,지에스칼텍스㈜ 덕명주유소,대전 유성구 현충원로 283 (덕명동),GS칼텍스,Y,대전,유성구,1313.444444
10,울산광역시,대복주유소,울산 울주군 웅촌면 웅촌로 671,현대오일뱅크,N,울산,울주군,1288.833333
11,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),S-OIL,Y,경기,고양시,1299.714286
12,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),S-OIL,Y,경기,고양시,1299.714286
13,경기도,철산주유소,경기 광명시 오리로 883,현대오일뱅크,N,경기,광명시,1320.200000
14,경기도,한누리주유소,경기 김포시 월곶면 김포대로 2519,SK에너지,N,경기,김포시,1306.000000
15,경기도,삼정주유소,경기 부천시 오정구 중동로 447 (삼정동),S-OIL,Y,경기,부천시,1320.400000
16,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),SK에너지,Y,경기,용인시,1351.945946
17,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),GS칼텍스,N,경기,용인시,1351.945946
18,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),GS칼텍스,N,경기,용인시,1351.945946
19,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),SK에너지,Y,경기,용인시,1351.945946
20,경기도,현대오일뱅크㈜직영 이천제일셀프주유소,경기도 이천시 대월면 경충대로 1960,현대오일뱅크,Y,경기,이천시,1379.181818
21,경기도,오성주유소,경기 평택시 안중읍 서동대로 1924,SK에너지,N,경기,평택시,1323.500000
22,경기도,지에스칼텍스(주)태안그린주유소,경기 화성시 효행로 852 (안녕동),GS칼텍스,N,경기,화성시,1346.187500
23,강원도,동광주유소,강원 강릉시 강동면 임곡로 217,현대오일뱅크,N,강원,강릉시,1343.888889
24,충청남도,문방스타주유소,충남 아산시 아산만로 1504,현대오일뱅크,N,충남,아산시,1350.785714
25,전라북도,광장주유소,전북 남원시 춘향로 294(용정동),현대오일뱅크,N,전북,남원시,1319.500000
26,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),S-OIL,N,전북,전주시,1302.071429
27,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),S-OIL,N,전북,전주시,1302.071429
28,전라남도,서해안주유소,전남 무안군 무안읍 무안로 592,SK에너지,N,전남,무안군,1362.500000
29,경상북도,병곡주유소,경북 영덕군 병곡면 흰돌로 20,자가상표,N,경북,영덕군,1318.000000

## 가격 정보 합치기

In [282]:
stations_null_tmp

,sido,os_nm,new_adr,poll_div_cd,self_yn,si,gu,oil_price
0,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,N,서울,강남구,1447.000000
1,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,N,서울,강남구,1447.000000
2,서울특별시,전당앞주유소,서울 서초구 남부순환로 2391 (서초동),SK에너지,N,서울,서초구,1500.500000
3,부산광역시,현대주유소,부산 강서구 낙동북로 209 (대저1동),S-OIL,N,부산,강서구,1343.333333
4,부산광역시,하늘주유소,부산 사상구 백양대로 333 (주례동),S-OIL,Y,부산,사상구,1333.700000
5,인천광역시,(주)원탑코리아 주유소,인천 남동구 석정로 544 (간석동),S-OIL,Y,인천,남동구,1363.846154
6,인천광역시,동양산업(주)직영 효성주유소,인천 부평구 부평북로 154 (청천동),GS칼텍스,Y,인천,부평구,1332.933333
7,인천광역시,대복주유소,인천 서구 백범로 706 (가좌동),자가상표,N,인천,서구,1292.200000
8,광주광역시,지에스칼텍스(주)첨단지오주유소,광주 광산구 첨단과기로 33 (비아동),GS칼텍스,Y,광주,광산구,1316.400000
9,대전광역시,지에스칼텍스㈜ 덕명주유소,대전 유성구 현충원로 283 (덕명동),GS칼텍스,Y,대전,유성구,1313.444444
10,울산광역시,대복주유소,울산 울주군 웅촌면 웅촌로 671,현대오일뱅크,N,울산,울주군,1288.833333
11,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),S-OIL,Y,경기,고양시,1299.714286
12,경기도,한결주유소,경기 고양시 덕양구 호국로 730 (성사동),S-OIL,Y,경기,고양시,1299.714286
13,경기도,철산주유소,경기 광명시 오리로 883,현대오일뱅크,N,경기,광명시,1320.200000
14,경기도,한누리주유소,경기 김포시 월곶면 김포대로 2519,SK에너지,N,경기,김포시,1306.000000
15,경기도,삼정주유소,경기 부천시 오정구 중동로 447 (삼정동),S-OIL,Y,경기,부천시,1320.400000
16,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),SK에너지,Y,경기,용인시,1351.945946
17,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),GS칼텍스,N,경기,용인시,1351.945946
18,경기도,동백제일주유소,경기 용인시 기흥구 동백죽전대로 497 (동백동),GS칼텍스,N,경기,용인시,1351.945946
19,경기도,(주)대지산주유소,경기 용인시 수지구 대지로 92 (죽전동),SK에너지,Y,경기,용인시,1351.945946
20,경기도,현대오일뱅크㈜직영 이천제일셀프주유소,경기도 이천시 대월면 경충대로 1960,현대오일뱅크,Y,경기,이천시,1379.181818
21,경기도,오성주유소,경기 평택시 안중읍 서동대로 1924,SK에너지,N,경기,평택시,1323.500000
22,경기도,지에스칼텍스(주)태안그린주유소,경기 화성시 효행로 852 (안녕동),GS칼텍스,N,경기,화성시,1346.187500
23,강원도,동광주유소,강원 강릉시 강동면 임곡로 217,현대오일뱅크,N,강원,강릉시,1343.888889
24,충청남도,문방스타주유소,충남 아산시 아산만로 1504,현대오일뱅크,N,충남,아산시,1350.785714
25,전라북도,광장주유소,전북 남원시 춘향로 294(용정동),현대오일뱅크,N,전북,남원시,1319.500000
26,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),S-OIL,N,전북,전주시,1302.071429
27,전라북도,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),S-OIL,N,전북,전주시,1302.071429
28,전라남도,서해안주유소,전남 무안군 무안읍 무안로 592,SK에너지,N,전남,무안군,1362.500000
29,경상북도,병곡주유소,경북 영덕군 병곡면 흰돌로 20,자가상표,N,경북,영덕군,1318.000000

In [283]:
stations_notnull

,sido,os_nm,new_adr,oil_price,poll_div_cd,self_yn,si,gu
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),1384.0,현대오일뱅크,Y,서울,강남구
1,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),1384.0,SK에너지,Y,서울,강남구
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),1398.0,현대오일뱅크,N,서울,강남구
3,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),1415.0,GS칼텍스,N,서울,강남구
4,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,1415.0,GS칼텍스,N,서울,강남구
...,...,...,...,...,...,...,...,...
1364,제주특별자치도,이도그린주유소,제주 제주시 연삼로 430,1400.0,SK에너지,N,제주,제주시
1365,제주특별자치도,도남주유소,제주특별자치도 제주시 연삼로 328 (도남동),1400.0,SK에너지,N,제주,제주시
1366,제주특별자치도,서부관광주유소,제주특별자치도 제주시 노형로 148 (해안동),1400.0,GS칼텍스,N,제주,제주시
1367,제주특별자치도,내트럭(주)제주사업소,제주 제주시 번영로 345,1400.0,SK에너지,N,제주,제주시
1368,제주특별자치도,동산주유소,제주 제주시 연북로 130 (연동),1400.0,GS칼텍스,N,제주,제주시

In [284]:
stations_notnull = stations_notnull.sort_index(axis=1)
stations_null_tmp = stations_null_tmp.sort_index(axis=1)

In [285]:
stations_notnull

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.0,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.0,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 논현로 152 (도곡동),1398.0,현대오일뱅크(주) 유진주유소,현대오일뱅크,N,서울,서울특별시
3,강남구,서울 강남구 논현로 516 (역삼동),1415.0,지에스칼텍스㈜ GS타워주유소,GS칼텍스,N,서울,서울특별시
4,강남구,서울 강남구 영동대로 235,1415.0,지에스칼텍스㈜ 은마주유소,GS칼텍스,N,서울,서울특별시
...,...,...,...,...,...,...,...,...
1364,제주시,제주 제주시 연삼로 430,1400.0,이도그린주유소,SK에너지,N,제주,제주특별자치도
1365,제주시,제주특별자치도 제주시 연삼로 328 (도남동),1400.0,도남주유소,SK에너지,N,제주,제주특별자치도
1366,제주시,제주특별자치도 제주시 노형로 148 (해안동),1400.0,서부관광주유소,GS칼텍스,N,제주,제주특별자치도
1367,제주시,제주 제주시 번영로 345,1400.0,내트럭(주)제주사업소,SK에너지,N,제주,제주특별자치도
1368,제주시,제주 제주시 연북로 130 (연동),1400.0,동산주유소,GS칼텍스,N,제주,제주특별자치도

In [286]:
stations_null_tmp

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울특별시 강남구 봉은사로 311 (논현동),1447.000000,동우주유소,SK에너지,N,서울,서울특별시
1,강남구,서울 강남구 삼성로 521 (삼성동),1447.000000,삼성주유소,SK에너지,N,서울,서울특별시
2,서초구,서울 서초구 남부순환로 2391 (서초동),1500.500000,전당앞주유소,SK에너지,N,서울,서울특별시
3,강서구,부산 강서구 낙동북로 209 (대저1동),1343.333333,현대주유소,S-OIL,N,부산,부산광역시
4,사상구,부산 사상구 백양대로 333 (주례동),1333.700000,하늘주유소,S-OIL,Y,부산,부산광역시
5,남동구,인천 남동구 석정로 544 (간석동),1363.846154,(주)원탑코리아 주유소,S-OIL,Y,인천,인천광역시
6,부평구,인천 부평구 부평북로 154 (청천동),1332.933333,동양산업(주)직영 효성주유소,GS칼텍스,Y,인천,인천광역시
7,서구,인천 서구 백범로 706 (가좌동),1292.200000,대복주유소,자가상표,N,인천,인천광역시
8,광산구,광주 광산구 첨단과기로 33 (비아동),1316.400000,지에스칼텍스(주)첨단지오주유소,GS칼텍스,Y,광주,광주광역시
9,유성구,대전 유성구 현충원로 283 (덕명동),1313.444444,지에스칼텍스㈜ 덕명주유소,GS칼텍스,Y,대전,대전광역시
10,울주군,울산 울주군 웅촌면 웅촌로 671,1288.833333,대복주유소,현대오일뱅크,N,울산,울산광역시
11,고양시,경기 고양시 덕양구 호국로 730 (성사동),1299.714286,한결주유소,S-OIL,Y,경기,경기도
12,고양시,경기 고양시 덕양구 호국로 730 (성사동),1299.714286,한결주유소,S-OIL,Y,경기,경기도
13,광명시,경기 광명시 오리로 883,1320.200000,철산주유소,현대오일뱅크,N,경기,경기도
14,김포시,경기 김포시 월곶면 김포대로 2519,1306.000000,한누리주유소,SK에너지,N,경기,경기도
15,부천시,경기 부천시 오정구 중동로 447 (삼정동),1320.400000,삼정주유소,S-OIL,Y,경기,경기도
16,용인시,경기 용인시 수지구 대지로 92 (죽전동),1351.945946,(주)대지산주유소,SK에너지,Y,경기,경기도
17,용인시,경기 용인시 기흥구 동백죽전대로 497 (동백동),1351.945946,동백제일주유소,GS칼텍스,N,경기,경기도
18,용인시,경기 용인시 기흥구 동백죽전대로 497 (동백동),1351.945946,동백제일주유소,GS칼텍스,N,경기,경기도
19,용인시,경기 용인시 수지구 대지로 92 (죽전동),1351.945946,(주)대지산주유소,SK에너지,Y,경기,경기도
20,이천시,경기도 이천시 대월면 경충대로 1960,1379.181818,현대오일뱅크㈜직영 이천제일셀프주유소,현대오일뱅크,Y,경기,경기도
21,평택시,경기 평택시 안중읍 서동대로 1924,1323.500000,오성주유소,SK에너지,N,경기,경기도
22,화성시,경기 화성시 효행로 852 (안녕동),1346.187500,지에스칼텍스(주)태안그린주유소,GS칼텍스,N,경기,경기도
23,강릉시,강원 강릉시 강동면 임곡로 217,1343.888889,동광주유소,현대오일뱅크,N,강원,강원도
24,아산시,충남 아산시 아산만로 1504,1350.785714,문방스타주유소,현대오일뱅크,N,충남,충청남도
25,남원시,전북 남원시 춘향로 294(용정동),1319.500000,광장주유소,현대오일뱅크,N,전북,전라북도
26,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
27,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
28,무안군,전남 무안군 무안읍 무안로 592,1362.500000,서해안주유소,SK에너지,N,전남,전라남도
29,영덕군,경북 영덕군 병곡면 흰돌로 20,1318.000000,병곡주유소,자가상표,N,경북,경상북도

In [287]:
stations_price = pd.concat([stations_notnull,stations_null_tmp], axis = 0)

In [288]:
stations_price

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.000000,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.000000,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 논현로 152 (도곡동),1398.000000,현대오일뱅크(주) 유진주유소,현대오일뱅크,N,서울,서울특별시
3,강남구,서울 강남구 논현로 516 (역삼동),1415.000000,지에스칼텍스㈜ GS타워주유소,GS칼텍스,N,서울,서울특별시
4,강남구,서울 강남구 영동대로 235,1415.000000,지에스칼텍스㈜ 은마주유소,GS칼텍스,N,서울,서울특별시
...,...,...,...,...,...,...,...,...
25,남원시,전북 남원시 춘향로 294(용정동),1319.500000,광장주유소,현대오일뱅크,N,전북,전라북도
26,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
27,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
28,무안군,전남 무안군 무안읍 무안로 592,1362.500000,서해안주유소,SK에너지,N,전남,전라남도
29,영덕군,경북 영덕군 병곡면 흰돌로 20,1318.000000,병곡주유소,자가상표,N,경북,경상북도

In [289]:
repair = stations_price.copy()

In [290]:
repair

,gu,new_adr,oil_price,os_nm,poll_div_cd,self_yn,si,sido
0,강남구,서울 강남구 남부순환로 2718 (도곡2동),1384.000000,현대오일뱅크 도곡셀프주유소,현대오일뱅크,Y,서울,서울특별시
1,강남구,서울 강남구 남부순환로 2651 (도곡동),1384.000000,오일프러스 셀프,SK에너지,Y,서울,서울특별시
2,강남구,서울 강남구 논현로 152 (도곡동),1398.000000,현대오일뱅크(주) 유진주유소,현대오일뱅크,N,서울,서울특별시
3,강남구,서울 강남구 논현로 516 (역삼동),1415.000000,지에스칼텍스㈜ GS타워주유소,GS칼텍스,N,서울,서울특별시
4,강남구,서울 강남구 영동대로 235,1415.000000,지에스칼텍스㈜ 은마주유소,GS칼텍스,N,서울,서울특별시
...,...,...,...,...,...,...,...,...
25,남원시,전북 남원시 춘향로 294(용정동),1319.500000,광장주유소,현대오일뱅크,N,전북,전라북도
26,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
27,전주시,전북 전주시 덕진구 동부대로 1563 (고랑동),1302.071429,동산주유소,S-OIL,N,전북,전라북도
28,무안군,전남 무안군 무안읍 무안로 592,1362.500000,서해안주유소,SK에너지,N,전남,전라남도
29,영덕군,경북 영덕군 병곡면 흰돌로 20,1318.000000,병곡주유소,자가상표,N,경북,경상북도

## 주소 바꾸기

In [300]:
repair['api_adr']  = [eachAddress.split("(")[0] for eachAddress in repair["new_adr"]]

In [301]:
repair["wash_yn"]= "N"
repair["repair_yn"] = "Y"
repair["conv_yn"] = "N"
repair["all24_yn"] = "N"

In [302]:
repair.columns

Index(['sido', 'si', 'gu', 'os_nm', 'new_adr', 'api_adr', 'poll_div_cd',
       'self_yn', 'repair_yn', 'oil_price', 'wash_yn', 'conv_yn', 'all24_yn'],
      dtype='object')

In [303]:
#['A', 'B', 'C'] <-this is your columns order
repair = repair[["sido", "si", "gu","os_nm","new_adr","api_adr","poll_div_cd",
                 "self_yn","wash_yn","repair_yn","conv_yn","all24_yn",
                 "oil_price"]]

In [304]:
repair

,sido,si,gu,os_nm,new_adr,api_adr,poll_div_cd,self_yn,wash_yn,repair_yn,conv_yn,all24_yn,oil_price
0,서울특별시,서울,강남구,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),서울 강남구 남부순환로 2718,현대오일뱅크,Y,N,Y,N,N,1384.000000
1,서울특별시,서울,강남구,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),서울 강남구 남부순환로 2651,SK에너지,Y,N,Y,N,N,1384.000000
2,서울특별시,서울,강남구,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),서울 강남구 논현로 152,현대오일뱅크,N,N,Y,N,N,1398.000000
3,서울특별시,서울,강남구,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),서울 강남구 논현로 516,GS칼텍스,N,N,Y,N,N,1415.000000
4,서울특별시,서울,강남구,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,서울 강남구 영동대로 235,GS칼텍스,N,N,Y,N,N,1415.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,전라북도,전북,남원시,광장주유소,전북 남원시 춘향로 294(용정동),전북 남원시 춘향로 294,현대오일뱅크,N,N,Y,N,N,1319.500000
26,전라북도,전북,전주시,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),전북 전주시 덕진구 동부대로 1563,S-OIL,N,N,Y,N,N,1302.071429
27,전라북도,전북,전주시,동산주유소,전북 전주시 덕진구 동부대로 1563 (고랑동),전북 전주시 덕진구 동부대로 1563,S-OIL,N,N,Y,N,N,1302.071429
28,전라남도,전남,무안군,서해안주유소,전남 무안군 무안읍 무안로 592,전남 무안군 무안읍 무안로 592,SK에너지,N,N,Y,N,N,1362.500000
29,경상북도,경북,영덕군,병곡주유소,경북 영덕군 병곡면 흰돌로 20,경북 영덕군 병곡면 흰돌로 20,자가상표,N,N,Y,N,N,1318.000000

In [305]:
repair.to_csv('C:\\Users\\Sung\\Desktop\\Opinet_Data\\repair.csv',encoding = 'cp949')